.banner{
  background-size: cover;
  width: 100%;
  background-position: center;
  padding: 150px 0;
}

.banner img{
  object-fit: cover;
  box-shadow: grey;
}
/*
.banner h1{
  font-size: larger;
  font-weight: bolder;
} */

.banner h1 {
  margin: 0;
  color: rgb(252, 233, 233);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(44, 224, 98);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
